/* Entry/Tape page styles */

.tape {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1c0c3a;
  overscroll-behavior: none;
}

.entry {
  background-image: url("../images/phone.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1a1033;
  overflow: hidden;
  color: var(--ghost-white);
  font-family: "Inter", sans-serif;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-shadow: 0 0 10px var(--soft-glow);
  position: relative;
  overflow: hidden;
}

.entry-instructions {
  background-color: var(--ghost-white);
  color: var(--flipphone-heart);
  font-size: 2.2rem;
  width: 65%;
  height: 42%;
  position: absolute;
  top: 49%;
  left: 17%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--flipphone-heart);
  border-radius: 7%;
  animation: instructions 5s;
  opacity: 0;
}

.entry-main {
  position: absolute;
  top: 4%;
  left: 18%;
  width: 63%;
  height: 32.9%;
  overflow-y: auto;
  padding: 5px 5px;
  font-size: 0.9rem;
  color: var(--ghost-white);
}

.entry-main::-webkit-scrollbar {
  width: 8px;
}

.entry-main::-webkit-scrollbar-track {
  background: transparent;
}

.entry-main::-webkit-scrollbar-thumb {
  background-color: var(--ghost-white);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.entry-title {
  font-family: "Game Paused", monospace;
  font-size: 2rem;
  color: var(--electric-lavender);
  text-transform: lowercase;
  text-shadow: 0 0 2px var(--ghost-white), 0 0 2px var(--electric-lavender);
  letter-spacing: 1px;
}

.now-playing {
  font-family: "Orbitron Light", sans-serif;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: var(--neon-aqua);
  letter-spacing: 1.2px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 4px rgba(113, 252, 202, 0.5);
}

.entry-body {
  font-family: "Glatic", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: var(--ghost-white);
}

.entry-back-btn {
  position: absolute;
  top: 51%;
  left: 63%;
  width: 13%;
  height: 6%;
}

.entry-home-btn {
  position: absolute;
  top: 51%;
  left: 22%;
  width: 13%;
  height: 6%;
}

.entry-call-btn {
  position: absolute;
  top: 59%;
  left: 21%;
  width: 14%;
  height: 6%;
}

.entry-closed-btn {
  position: absolute;
  top: 59%;
  right: 23%;
  width: 14%;
  height: 6%;
}

.scrollUp {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 43%;
  width: 12%;
  height: 4%;
  border-radius: 50px;
}

.scrollDown {
  opacity: 0;
  position: absolute;
  top: 63%;
  left: 43%;
  width: 12%;
  height: 4%;
  border-radius: 50px;
}

.next-entry {
  position: absolute;
  top: 55.5%;
  left: 54.5%;
  border-radius: 50px;
  width: 7.5%;
  height: 6%;
}

.previous-entry {
  position: absolute;
  top: 55.5%;
  right: 56.5%;
  border-radius: 50px;
  width: 7.5%;
  height: 6%;
}

.playpause {
  opacity: 0.5;
  position: absolute;
  top: 55%;
  left: 44%;
  width: 10.5%;
  height: 7%;
  border-radius: 50px;
  background-image: url("../images/entryPlayPause.png");
  background-size: cover;
  background-position: center;
  border: 0px;
  opacity: 0.6;
  animation: instructionsPlay 5s;
}

.entry-who-btn {
  position: absolute;
  top: 75%;
  right: 43%;
  width: 16%;
  height: 6%;
}

.entry-instagram-btn {
  position: absolute;
  top: 75%;
  right: 23%;
  width: 18%;
  height: 6%;
}

.entry-ass-btn {
  position: absolute;
  top: 68%;
  left: 21%;
  width: 18%;
  height: 6%;
  opacity: 0;
}

.entry-ass {
  display: none;
}

.entry-ass.show {
  position: absolute;
  top: 3.3%;
  left: 17.3%;
  width: 63.7%;
  height: 34%;
  border-radius: 10px;
  z-index: 9999;
  display: block;
  animation: assFlash 1.5s ease forwards;
}

.entry-ftp-btn {
  position: absolute;
  top: 68%;
  left: 41%;
  width: 17%;
  height: 6%;
  opacity: 0;
}

.entry-ftp {
  display: none;
}

.entry-ftp.show {
  display: block;
  position: absolute;
  top: 3.3%;
  left: 17.3%;
  width: 63.7%;
  height: 34%;
  border-radius: 10px;
  z-index: 9999;
  animation: assFlash 3s ease forwards;
}

.entry-let-btn {
  position: absolute;
  top: 68%;
  left: 59%;
  width: 18%;
  height: 6%;
  opacity: 0;
}

.entry-alc-btn {
  position: absolute;
  top: 82%;
  left: 22%;
  width: 18%;
  height: 6%;
  opacity: 0;
}

.entry-alc {
  display: none;
}

.entry-alc.show {
  display: block;
  position: absolute;
  top: 3.3%;
  left: 17%;
  width: 64.5%;
  height: 34%;
  border-radius: 10px;
  z-index: 9999;
  object-fit: cover;
}

.entry-divine-feminine-btn {
  position: absolute;
  top: 75%;
  left: 22%;
  width: 18%;
  height: 6%;
  opacity: 0;
}

.entry-tattoo {
  display: none;
}

.entry-tattoo.show {
  position: absolute;
  top: 3.3%;
  left: 17.3%;
  width: 63.7%;
  height: 34%;
  border-radius: 10px;
  z-index: 9999;
  display: block;
  animation: assFlash 3s ease forwards;
}

.divine-feminine-vulnerable {
  padding-left: 10%;
}

.divine-feminine-emotional {
  padding-left: 20%;
}

.press-hints {
  font-size: smaller;
  padding-left: 10%;
  color: var(--flipphone-heart);
}

.entry-luv-btn {
  position: absolute;
  top: 82%;
  left: 40%;
  width: 18%;
  height: 6%;
  opacity: 0;
}

#poem-content {
  display: none;
  font-family: "Glatic", sans-serif;
  font-size: 1.1rem;
  line-height: 1.3;
  letter-spacing: 0.5px;
  color: var(--ghost-white);
  border-radius: 10px;
  z-index: 9999999;
}

.blog-content {
  display: block;
}

#intimacy-link {
  color: var(--electric-lavender);
  text-decoration: none;
  border-bottom: 1px solid var(--electric-lavender);
}

/* Closed phone styles */
.closed-tape {
  background-image: url("../images/closed.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1a1033;
  color: var(--ghost-white);
  height: 90vh;
  position: relative;
  overflow: hidden;
}

.blond {
  position: absolute;
  top: 21.5%;
  left: 28.2%;
  width: 43.4%;
  height: 21.1%;
  border-radius: 8px;
  opacity: 0.7;
}

.reopen-btn {
  opacity: 0;
  position: absolute;
  width: 20%;
  height: 13%;
  top: 53%;
  left: 40%;
}

/* Tablet media queries */
@media (min-width: 769px) and (max-width: 1024px) {
  .entry-title {
    font-size: 4rem;
  }

  .now-playing {
    font-size: 1.4rem;
  }

  .entry-body {
    font-size: 2rem;
  }
}

/* Desktop media queries */
@media (min-width: 1025px) {
  .tape {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior: none;
  }

  .entry {
    background-image: url("../images/computer.png");
  }

  .entry-main {
    position: absolute;
    top: 31%;
    left: 20.5%;
    width: 37%;
    height: 45%;
    overflow-y: auto;
    padding: 5px 5px;
    font-size: 0.9rem;
    color: var(--ghost-white);
    border-radius: 50px;
  }

  .entry-main::-webkit-scrollbar {
    width: 8px;
  }

  .entry-main::-webkit-scrollbar-track {
    background: transparent;
  }

  .entry-main::-webkit-scrollbar-thumb {
    background-color: var(--ghost-white);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .entry-title {
    font-size: 4rem;
    color: #e6faff;
    text-shadow: 0 0 10px #007f7a, 0 0 20px #007f7a;
    text-align: center;
  }

  .now-playing {
    font-size: 1.4rem;
    color: #ff758f;
    text-shadow: 0 0 5px #240202;
  }

  .entry-body {
    font-size: 1.6rem;
    color: var(--ghost-white);
    text-shadow: 0 0 5px #00ffe7, 0 0 10px rgba(0, 0, 0, 0.6);
  }

  .entry-home-btn {
    position: absolute;
    top: 79.5%;
    left: 71.4%;
    width: 2.5%;
    height: 2.7%;
    background-image: url("../images/homeDesktop.png");
    background-size: 100% 120%;
    background-repeat: no-repeat;
    background-position: 50% 80%;
  }

  .entry-home-btn:hover {
    border: 1px solid rgba(0, 240, 224, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }

  .entry-back-btn {
    position: absolute;
    top: 79.5%;
    left: 66.4%;
    width: 3.7%;
    height: 2.7%;
    background-image: url("../images/backArrowDesktop.png");
    background-size: 100% 140%;
    background-repeat: no-repeat;
    background-position: 50% 64%;
  }

  .entry-back-btn:hover {
    border: 1px solid rgba(0, 240, 224, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }

  .entry-call-btn {
    visibility: hidden;
  }

  .entry-closed-btn {
    position: absolute;
    top: 59%;
    right: 23%;
    width: 14%;
    height: 6%;
  }

  .scrollUp,
  .scrollDown,
  .next-entry,
  .previous-entry,
  .entry-closed-btn,
  .entry-ass-btn,
  .entry-let-btn,
  .entry-ftp-btn,
  .entry-alc-btn,
  .entry-who-btn,
  .entry-instagram-btn {
    visibility: hidden;
  }

  .playpause {
    top: 49%;
    left: 66.7%;
    width: 6.2%;
    height: 10.5%;
    border-radius: 50px;
    background-image: url("../images/playPauseDesktop.png");
    background-size: 40%;
    background-position: 67% 50%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
    animation: none;
  }

  .playpause:hover {
    border: 3px solid rgba(0, 240, 224, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    background-size: 50%;
    background-position: 70% 50%;
  }

  .entry-instructions {
    font-size: 2.2rem;
    width: 11%;
    height: 36%;
    top: 48%;
    left: 64.2%;
    border-radius: 7%;
    animation: instructions 5s;
    opacity: 0;
  }
}

